<html>
    <body>
        <div class="container">
            <div class="inner-container">
                 <div class="content">
                    <h3>RETURN/EXCHANGE</h3>
                    <p>Return/Exchange your product in just a few clicks. Please enter your order number and email / mobile number to continue.</p>
                    <p>Please read our return and exchange policies before proceeding.</p>
                 </div>
                <div class="form">
                   
                    <h4>RETURN FORM</h4>
                   <input id="forminput" type="text" placeholder="Order ID">
                   <input id="forminput" type="text" placeholder="Product name">
                  
                </div>
            </div>

        </div>
    </body>
</html>
