<html>

<body>
    <div class="main-container">
        <div class="login-item">
            <p id="login">LOGIN</p>
            <div>
                <h1>Welcome Back !</h1>
                <p id="welcomeback">Welcome back! Please enter your detail below </p>
            </div>
            <mat-form-field>
                <mat-label>Your Label</mat-label>
                <input matInput placeholder="Your Input Placeholder" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Your Label</mat-label>
                <input matInput placeholder="Your Input Placeholder" />
            </mat-form-field>

            <div class="checkbox">
                <div id="remember">
                    <input type="checkbox">
                    <p>Remember me</p>
                </div>
                <div id="forgot">
                    <a>Forgot password?</a>
                </div>
            </div>
            <button>Login</button>
            <div class="pattern-container">
                <div class="line"></div>
                <div class="text">or</div>
                <div class="line"></div>
            </div>
            <div class="google">
                <img src="../../assets/google.svg">
                <p>Continue with google</p>
            </div>
            <p id="end-para">Don’t have an account? <span style="font-weight: 700;  cursor: pointer;">Register</span>
            </p>
        </div>


    </div>
</body>

</html>