<html>

<body>
    <div class="wishlist-container">
        <p id="welcome-para">Welcome back!</p>
        <div class="wishlist-section">
            <div class="head">
                <img src="../../../assets/wishlist.svg">
                <p style="font-size: 18px;font-style: normal;font-weight: 400;">You haven’t wishlisted any products.</p>
                <p style="font-size: 22px;font-style: normal;font-weight: 400;">You can wishlist products and buy them later</p>
                <button id="wishlist-button">View Product</button>
            </div>
        </div>
    </div>
</body>
</html>