body{
    font-family: 'Average Sans';
}
.password-container{
    width:70%;
    height:100%;
    box-sizing:border-box;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:50px;
    padding-right:50px;
   
}
#welcome-para{
    font-size: 34px;
    font-style: normal;
    font-weight: 400;

}
.password-section{
    width:100%;
    height:80vh;
    box-sizing: border-box;
    display: flex;
  padding: 30px 30px 75px 30px;
    gap: 30px;
    border-radius: 20px;
border: 0.4px solid #413E3E;
box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);
margin: auto;

}
.head{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.input{
    width:400px;
}
mat-form-field{
    width: 100%;
    display: flex;
    border: #413E3E !important;
    color:black;
}
#password-button{
    display: flex;
padding: 15px 50px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #1F2123;
color:white;
border:none;
}
p{
    font-size: 22px;
font-style: normal;
font-weight: 400;
}