
<html>

<body>
    <div class="password-container">
        <p id="welcome-para">Welcome back!</p>
        <div class="password-section">
            <div class="head">
               <img src="../../../assets/passwordicon.svg">
               <p>Update your password for</p>
               <span>aruncopz@gmail.com</span>
               <div class="input">
                <mat-form-field appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input matInput placeholder="Enter new password">
                </mat-form-field>
              </div>
              <div class="input">
                <mat-form-field appearance="outline">
                  <mat-label>Change new Password</mat-label>
                  <input matInput placeholder="Confirm new password">
                </mat-form-field>
              </div>
              <button id="password-button">Updated Password</button>
            </div>
           
        </div>
    </div>
</body>
</html>