<html>

<body>
    <div class="myprofile-container">
        <p id="welcome-para">Welcome back!</p>
        <div class="myprofile-form">
            <div></div>
            <div class="form">
                <div class="align-form">
                    <div> <mat-form-field appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input matInput placeholder="Placeholder">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>