.myprofile-container{
    width:100%;
    height:100%;
    box-sizing:border-box;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding-right:50px;
   

}
.myprofile-form{
    width:100%;
    height:80vh;
    box-sizing: border-box;
    display: flex;
    padding: 30px 30px 75px 30px;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    border-radius: 20px;
border: 0.4px solid #413E3E;
box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);
margin: auto;
}
#welcome-para{
    font-size: 34px;
    font-style: normal;
    font-weight: 400;

}
.form{
    width:100%;
    box-sizing: border-box;
    padding:10px;

}
.align-form{
    display: flex;
    width:100%;
    box-sizing: border-box;
    justify-content: space-between;
     gap:10px;
   padding:15px;
} 
.input{
    width:100%;
   
}
//  ::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled) .mdc-notched-outline--leading,
//  ::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled) .mdc-notched-outline--notch,
//  ::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled) .mdc-notched-outline--trailing{
//    border-color: rgb(255, 0, 0) !important;
//   border-width: 2px !important;
//  }
//  input.mat-mdc-input-element{
//     border-color: red !important;
// }
//  .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: red !important;
//   }
//   mat-form-field mat-label{
//     color: #262626;
//     font-family: 'Inter', sans-serif;
//     font-size: 16px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 20px; /* 125% */
// }
mat-form-field{
    width: 100%;
    display: flex;
    border: #413E3E !important;
    color:black;
}
#submit{
   
display: flex;
padding: 15px 50px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #1F2123;
border:none;
color:white;
margin:auto;
}