.blogdetail-container{
    width:100%;
    height:auto;
    
}
.blogdetail-content{
    width:100%;
    height:auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:10px;
   
}
.blogview-image{
    width:65%;
    height: 475px;
    background-image: url("./blogview.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.blogdetail-title{
    width:65%;
    color: #000;
font-family: 'Inter';
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 44px;
}
.blogdetail-description{
    width:65%;
    color: #000;
font-family: 'Inter';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px;
}
.blogdetail-para{
    width:65%;
   
}
.sub-title{
    width:100%;
    color: #000;
  
    font-family: 'Inter';
font-size: 18px;
font-style: normal;
font-weight: 500;
}
.para{
    width:100%;
    color: #000;

font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 25px;
}
