<div *ngIf="isCartOpen" class="cart">
  <div class="fill-base">
    <div class="header">
      <div class="inner-head">
        <img style="width: 22px; height: 30px" src="./assets/bag.svg" />
        <div
          id="items"
          style="
            color: #444; 
            padding-left: 10px;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          {{ cartCount }}&nbsp;items
        </div>
      </div>
      <ng-container>
        <img
          (click)="closeCart.emit()"
          id="cancel"
          style="cursor: pointer"
          src="./assets/xcircle.svg"
        />
      </ng-container>
    </div>

    <div class="scrollable-container">
      <app-cartitem></app-cartitem>
    </div>

    <div *ngIf="cartCount > 0" class="footer">
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          height: 80px;
        "
      >
        <p
          style="
            color: var(--netural-grey-500, #667085);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          "
        >
          Order Total
        </p>
        <span
          id="total-rate"
          style="
            color: #000;
            font-family: Inter;
            
            font-style: normal;
            font-weight: 600;
            line-height: 21px;
          "
          >£{{ finalPrice$ }}</span
        >
      </div>
      <div class="btn-box">
        <button routerLink="payments">Proceed to Checkout</button>
      </div>
    </div>
  </div>
</div>
