<html>

<body>

    <div class="productdetail-container">

        <div class="productdetail-box1">
            <div class="productdetail-header">
                <a>Home</a>&nbsp;&nbsp;
                <a>> New Arrivals</a>
            </div>
            <div class="productdetails">
                <div class="productlist-image">
                    <div class="product-image">
                        <img id="img" src="../../assets/woolencap.svg">
                    </div>
                </div>
                <div class="productview-image">

                </div>
                <div class="total-productdetail">
                    <div class="heading">New Arrivals</div>
                    <h2 class="name">woolen cap</h2>
                    <hr>
                    <p class="description ">Woollen cap for winter</p>
                    <p class='color'>Color</p>

                    <span class="color-circle black"></span>
                    <p class="quantity"> Quantity</p>
                    <div class="quantity-selector">
                        <button style="border-radius: 3.333px 0px 0px 3.333px" class="decrement-button">
                            -
                        </button>
                        <button class="delete-basket-icon">
                            <img style="opacity: 0.5" src="./assets/delete1.svg" />
                        </button>
                        <button class="quantity-number">0</button>
                        <button class="increment-button" style="border-radius: 0px 3.333px 3.333px 0px">
                            +
                        </button>
                    </div>
                    <hr>
                    <div class="rateandcart">
                        <p class="rate"> £ 18</p>
                        <div class="productcart-button"><app-button></app-button></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>