.blog-maincontainer{
  width:100%;
  height: auto;
  box-sizing: border-box;
}
.blog-subcontainer1{
  width: 100%;
  height: 480px;
  display: flex;
  box-sizing: border-box;
  padding:80px 150px 0px 150px;
 
  }
#title{
width:42%;
height:100%;
display: flex;
flex-direction: column;
color: #000;
font-family: 'Inter';
font-style: normal;
justify-content: center;
box-sizing: border-box;
gap: 25px;

}
#blog-image{
  width:58%;
  height:100%;
  box-sizing: border-box;
  background-image: url("./blogmain.svg");
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 
}

  

#large-title{
  font-size: 60px;
font-weight: 600;

}
#medium-title{
  font-size: 40px;
  font-weight: 500;
}
#small-title{
  font-size: 24px;
  font-weight: 400;
}