<html>

<body>
  <app-headerandfooter>
    <div class="blog-maincontainer">
      <div class="blog-subcontainer1">
        <div id="title">

          <span id="large-title">Our<br>
            Blogs.</span>
          <span id="medium-title">Making Student<br>
            Life Easy. </span>
          <span id="small-title">Top Products for Indian Students in the UK.</span>

        </div>
      <div id="blog-image">
      
      </div>
      </div>
      </div>
      <app-blogsection [heading]="'See our popular blogs'"></app-blogsection>
      </app-headerandfooter>
      </body>
  
  </html>