
body {
    font-family: Arial, sans-serif;
}

.blog-content {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  
}

.blog-image img {
    max-width: 100%;
    height: auto;
 
}
#img{
    max-width: 100%; /* Ensure the image fits within its container */
    height: auto;
    display: block;
}
.blog-text {
    margin-top: 20px;
    position: absolute; 
    top: 100%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1; 
    width:500px;
    height:800px;
    
}

.blog-text h1 {
    font-size: 24px;
}

.blog-text p {
    font-size: 16px;
}
