<html>

<body>
    <div class="main-container">
        <div class="sub-container">
            <div class="filter-box">
                <div class="dropdown-container">
                    <div (click)="toggleCollectionDropdown()" class="dropdown-head">
                        <img *ngIf="!showCollectionDropdown" src="../../assets/rightsidearrowicon.svg">
                        <p>Collections</p>
                    </div>
                    <div *ngIf="showCollectionDropdown" class="dropdown-list">
                        <input type="checkbox">
                        <p>Jackets</p>
                        <p>(1)</p>
                    </div>
                    </div>
                
            </div>
            <div class="content">
        
            </div>
        </div>


    </div>
</body>

</html>