<html>

<body>
    <div class="emptyorder-container">
        <p id="welcome-para">Welcome back!</p>
        <div class="emptyorder-section">
            <div class="head">
                <img src="../../../assets/emptyordericon.svg">
                <p style="font-size: 18px;font-style: normal;font-weight: 400;">You haven’t placed any orders yet.</p>
                <p style="font-size: 22px;font-style: normal;font-weight: 400;">Take a look at our products here</p>
                <button id="emptyorder-button">View Product</button>
            </div>
        </div>
    </div>
</body>

</html>