<html>

<body>
    <div class="return-container">
        <div class="box1">
            <h3>
                RETURNS/EXCHANGE POLICY
            </h3>
            <div>
            1. We offer 7 days hassle-free returns & exchange from the date of delivery and a further 5-7 days for the
                returned product(s) to reach us. We also offer reverse pick-up services. A reverse shipment fee of Rs
                100 will be deducted at the time of refund per order, regardless of the number of items within that
                order. This means that if an order contains multiple items, only a single deduction of Rs 100 will be
                made for the entire order, not on each individual clothing item.<br>
                
                2. Pick-up will be attempted twice. If the courier company is unable to pick up the shipment. You will have
                to send the shipment back to the company address. Reverse Pick Up is subject to the availability of the
                service in your area pin code.<br>
                
                3. For COD orders, a store credit will be provided within 1-2 working days from the day of return pickup on
                your registered email address/contact number.<br>
                
                4. Please return your product(s) in the same condition as it was shipped. If the products are returned in
                poor condition or have clearly been worn, a refund would not be provided.<br>
                
                5. Kindly allow 7 days for the return to be processed and the amount to be shown in your bank account.
                PLEASE NOTE: REFUND / BANK TRANSFER ARE ONLY APPLICABLE FOR PREPAID ORDERS / ONLINE PAYMENTS MADE ON OUR
                WEBSITE.<br>
                
                6. Payments made with COD option will receive store credit equivalent to the amount paid by you, which can
                be used anytime.<br>
                7. Shipping Charges are Non-Refundable<br>
                8. You can get in touch with us about any issues at our customer support portal or drop us a line at
                support@snitch.co.in and we will be happy to help. For a faster response, send us a message on Instagram
                @snitch.co.in. You can also reach us on +91 6364430800. All queries will be solved between
                Monday-Saturday, 10am-6pm. All pending queries will be solved on priority the next day.<br>
                9. Please note that we do not solve customer queries on WhatsApp.<br>
                10. Cancellations will only be possible till the order has not been dispatched from our warehouse.<br>
                11. To maintain strict hygiene standards of our products, we do not accept returns on certain product
                categories, including but not limited to accessories, masks, boxers, briefs, trunks and perfumes. SNITCH
                may, at its discretion and without prior notice, change the products or categories to which this policy
                would apply.
            </div>
            <p id="termandcondition">
                TERMS AND CONDITIONS
            </p>
            <div>
                <li>Bank account details provided by the customer would be final and any error in the details provided by
                    the customer would not be the responsibility of the brand.</li>
                
                <li>If you have received an SMS or EMAIL of order delivered status and if it's not received by you, please
                    email or contact us within 24 hours.email: support@snitch.co.inphone no.: +91 63644 30800</li>
                <li>The customer will be under an obligation to take utmost care of the product(s) whilst the products are
                in their possession. This includes all of the product(s) instructions, documents and wrappings while
                returning the product(s) in the same condition as received.</li>
                <li>In circumstances where the customer feels that the product does not conform to the standards at the time
                of delivery, they shall promptly contact us via our mail support@snitch.co.in with details of the
                product and its damage within 1 day of receiving the products; whereon, the customer will receive
                instructions from us.</li>
                <li>Upon return of the product, we will fully examine it and notify the customer of their right to a refund
                (if any) via e-mail within a reasonable period of time. We aim to process the refund as soon as possible
                and, in any case, within 30 working days from the day, we confirmed to the customer via e-mail that they
                are entitled to a refund.</li>
            </div>
            <p>To place Return/Exchange request, <a routerLink="/return/exchange">click here</a></p>
        </div>

    </div>
</body>

</html>