<html>

<body>
    <div id="mySidenav" class="sidenav" [ngStyle]="{'width': sidebarWidth}">
        <div class="nav-header">
            <span id="account">
                <img id="man" src="../../assets/manicon.svg">
                <p id="login">LOGIN</p>
            </span>
            <div href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</div>
        </div>
        <a>New arrivals</a>
        <a>Student kits</a>
        <a (click)="toggleEssentialsDropdown()" href="javascript:void(0)">Essentials
        <span style="font-size:12px;padding-left:100px;color: gray;">
            <ng-container *ngIf="!showEssentialsDropdown">&#9660;</ng-container>
        
            <ng-container *ngIf="showEssentialsDropdown">&#9650;</ng-container> </span><!-- Down arrow -->
        
        </a>

        <div class="dropdown-content" *ngIf="showEssentialsDropdown">
            <div class="sub-dropdown" (click)="toggleBedroomDropdown()">Bedroom essentials
                <span style="padding:10px;color: gray;">
                    <img src="../../assets/dropdownarrow.svg" *ngIf="!showBedroomDropdown">
                    <img src="../../assets/dropdownarrow2.svg" *ngIf="showBedroomDropdown">
                </span>
            </div>
            
            <div class="dropdown-content" *ngIf="showBedroomDropdown">
                <div class="sub-dropdown">Bathroom essentials</div>
            </div>
            
            <!-- food essentials -->
            <div class="sub-dropdown" (click)="toggleFoodDropdown()" href="">Food essentials
                <span style="padding:10px;color: gray;">
                    <img src="../../assets/dropdownarrow.svg" *ngIf="!showFoodDropdown">
                    <img src="../../assets/dropdownarrow2.svg" *ngIf="showFoodDropdown">
                </span>
            </div>
            <div class="dropdown-content" *ngIf="showFoodDropdown">
                <div class="sub-dropdown">Noodles</div>
            </div>
            <div class="dropdown-content" *ngIf="showFoodDropdown">
                <div class="sub-dropdown">Oats</div>
            </div>
            <div class="dropdown-content" *ngIf="showFoodDropdown">
                <div class="sub-dropdown">Rice</div>
            </div>
            
            
            <div class="sub-dropdown" (click)="toggleLaundryDropdown()" href="">Laundry essentials
                <span style="padding:10px;color: gray;">
                    <img src="../../assets/dropdownarrow.svg" *ngIf="!showLaundryDropdown">
                    <img src="../../assets/dropdownarrow2.svg" *ngIf="showLaundryDropdown">
                </span>
            </div>
            <div class="dropdown-content" *ngIf="showLaundryDropdown">
                <div class="sub-dropdown"></div>
            </div>
            <div class="dropdown-content" *ngIf="showLaundryDropdown">
                <div class="sub-dropdown"></div>
            </div>
            <div class="dropdown-content" *ngIf="showLaundryDropdown">
                <div class="sub-dropdown"></div>
            </div>
            <!--  fashion -->
            <div class="sub-dropdown" (click)="toggleFashionDropdown()" href="">Fashion essentials
                <span style="padding:10px;color: gray;">
                    <img src="../../assets/dropdownarrow.svg" *ngIf="!showFashionDropdown">
                    <img src="../../assets/dropdownarrow2.svg" *ngIf="showFashionDropdown">
                </span>
            </div>
            <div class="dropdown-content" *ngIf="showFashionDropdown">
                <div class="sub-dropdown"></div>
            </div>
            <div class="dropdown-content" *ngIf="showFashionDropdown">
                <div class="sub-dropdown"></div>
            </div>
<div class="sub-dropdown" href="">Kitchen essentials</div>
<div class="sub-dropdown" href="">Stationary essentials</div>
        </div>
        <a>Return & exchange</a>
        <a>Customer support</a>
    </div>
    <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
</body>

</html>