.background {
  display: flex;
  justify-content: space-between;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  background-image: url("./hero-image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.background-mobile {
  display: none;
}
#sub-title {
  font-family: "Inter";
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 79.2px;
  color: black;
}
.title {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 30px;
  padding-top: 200px;
  z-index: 1;
}

#sub-title2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px;
  margin-top: -5vh;
  color: black;
}

@media (max-width: 640px) {
  .background {
    display: none;
  }

  .background-mobile {
    background-image: url("./hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
    height: 100vh;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-contents: center;
  }
  .title-mobile {
    display: inline-flex;
    flex-direction: column; 
    align-items: flex-start;
    padding-left: 30px;

    z-index: 1;
  }
  #sub-title-mobile {
    color: #fff;
    font-family: "Inter";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }
  #sub-title2-mobile {
    color: #fff;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    bottom: 25px;
  }
}


/* newproductcard-section */

.productcard-container{
  width:270px;
  height:580px;
  margin-left:30px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap:8px;
}
.image-container{
  width:100%;
  height:280px;
 display: flex;
  align-items: center;
  justify-content: center;
}
#img{
  max-width: 250px;
  max-height: 250px;
 
}
.product-name{
  width:100%;
  height:80px;
  display: flex;
  align-items: center;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.6;

}
.description{
  width:100%;
  height:120px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.7;
  font-size: 16px;
  
}
.price{
  width:100%;
  height: 50px;
  font-size: large;
  font-weight: bold;
}
.cartbutton{
  width:100%;
  height: 50px;
  
}