<app-headerandfooter>
  <div class="background">
    <div class="title">
      <p id="sub-title">
        Kickstart Your<br />UK Journey<br />with Kickstarters.
      </p>
      <p id="sub-title2">Your Ultimate Student Kit Destination</p>
    </div>
    <div class="hero-image">
      <!-- <img
        id="actual-hero-img"
        src="./kickheroimage.jpg"
        alt="kickstarter-hero-image"
      /> -->
    </div>
  </div>
  <div class="background-mobile">
    <div class="title-mobile">
      <p id="sub-title-mobile">
        Kickstart Your<br />UK Journey<br />with Kickstarters.
      </p>
      <p id="sub-title2-mobile">Your Ultimate Student Kit Destination</p>
    </div>
  </div>
  <app-productsection></app-productsection>
  <!-- <div style="display:flex;overflow: scroll;">
        <div *ngFor="let product of [1,1,1,1,1,1,1,1,1,1,1,1]" class="productcard-container">
      <div class="image-container">
        <img id="img" src="../../../assets/washing.svg">
      </div>
      <div class="product-name">
        Ant Value Fkbri01 Wired Usb
      </div>
      <div class="description">
        HP 150 Wired Keyboard, Quick.
      </div>
      <div class="price">
        £ 8
      </div>
      <div class="cartbutton">
        <app-button></app-button>
      </div>
    </div>
  </div> -->
  <app-blogsection></app-blogsection>

</app-headerandfooter>
