.list {
  height: auto;
  width: 100%;
  background-color: white;
}
.card-title {
  padding-left: 30px;
  margin-top: 50px;
}
#arrow-button {
  width: auto;
  height: auto;
  display: flex;
  gap: 10px;
  padding-right: 30px;
}
#sub-title3 {
  color: #000;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 140% */
  letter-spacing: -0.5px;
  width: 90%;
}
.total-cards {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 15px;
}

::-webkit-scrollbar {
  overflow: hidden;
}

/* Studentskits-section css */
.studentkits-section {
  padding-left: 30px;
  margin-top: 50px;
}
.studentkits-container {
  width: 270px;
  height: 600px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.studentkits-image {
  width: 100%;
  height: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.studentkits-name {
  width: 100%;
  height: 11%;
  display: flex;
  align-items: center;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.7;
  font-family: "Inter";
}
.studentkits-description {
  width: 100%;
  height: 27%;
  display: flex;
  align-items: center;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-y: auto;
  line-height: 1.7;
  cursor: all-scroll;
  font-family: "Inter";
}
.studentkits-description::-webkit-scrollbar {
  width: 3px;
}
.studentkits-description::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

/* .studentkits-productlist{
  width:100%;
  height:0%;
  display: flex;
  align-items: center;
  font-weight:400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.7;
  
} */
.studentkits-price {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: bold;
  font-family: "Inter";
}
.studentkits-button {
  width: 100%;
  height: 7%;
}
/* productcategory section */
.productcard-container {
  width: 270px;
  height: 580px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
}
.image-container {
  width: 100%;
  height: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#img {
  width: 250px;
  height: 250px;
}
.product-name {
  width: 100%;
  height: 14%;
  display: flex;
  align-items: center;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 2;
  font-family: "Inter";
}
.description {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.7;
  font-size: 16px;
  font-family: "Inter";
}
.price {
  width: 100%;
  height: 9%;
  font-size: large;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-family: "Inter";
}
.cartbutton {
  width: 100%;
  height: 9%;
}

@media (max-width: 640px) {
  .studentkits-container {
    width: 200px;
    height: 480px;
    box-sizing: border-box;
    
  }
  .studentkits-section {
    padding-left: 15px;
  }
  
  .productcard-container {
    width: 160px;
    height: 480px;
   
  }
  #img {
    width: 150px;
    height: 150px;
  }
  .price{
    font-size: medium;
  }
  .card-title {
    padding-left: 15px;
    font-size: 14px;
  }
  .img {
    height: 120px;
    width: 148px;
  }
  #sub-title3 {
    width: 78%;
    font-size: 16px;
  }
  #arrow-button {
    align-items: center;
    justify-content: center;
    padding-right: 12px;
  }
  #left-arrow {
    width: 20px;
    height: 20px;
  }

  #right-arrow {
    width: 20px;
    height: 20px;
    padding-left: 0px;
  }

  .studentkits-name,.studentkits-description,.studentkits-price{
    font-size: 14px;
  }
}

/* delete later */
/* .project-area {
  background: #cfdbd5;
  width: 100%;
  height: 100%;
}

.project-column {
  background-color: #cfdbd5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.column1 {
  margin: 4vw;
  margin-top: 12vw;
  width: 300px;
  height: 360px;
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
}

.column1 p {
  position: absolute;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 4vw;
  padding-top: 3vw;
}

.column2 {
  margin-left: 16vw;
  background: #e8eddf;
  width: 80vw;
  height: auto;
  display: flex;
}

.column2-box {
  display: flex;
  flex-direction: column;
  background: #e8eddf;
  margin-left: 8vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  margin-right: 4vw;
  width: 70vw;
  height: auto;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  height: 3vw;
  gap: 1vw;
}

.nextBtn {
  background: #e8eddf;
  display: flex;
}

.backBtn {
  background: #e8eddf;
  display: flex;
}

.projects {
  display: flex;
  flex-direction: row;
  background: #e8eddf;
  margin-right: 4vw;
  width: 70vw;
  height: auto;
  overflow-x: scroll;
}

.projects div img:hover {
  cursor: pointer;
}

.projects::-webkit-scrollbar {
  display: none;
}

.box1 {
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
}

.box2 {
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
}

.box3 {
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
}

.box4 {
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
}

.box5 {
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
}

.box6 {
  display: flex;
  flex-direction: column;
}

.box1-text1 {
  padding-top: 1vw;
  color: #535353;
  font-family: "Nunito Sans" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box2-text1 {
  padding-top: 1vw;
  color: #535353;
  font-family: "Nunito Sans" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box3-text1 {
  padding-top: 1vw;
  color: #535353;
  font-family: "Nunito Sans" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box4-text1 {
  padding-top: 1vw;
  color: #535353;
  font-family: "Nunito Sans" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box5-text1 {
  padding-top: 1vw;
  color: #535353;
  font-family: "Nunito Sans" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box6-text1 {
  padding-top: 1vw;
  color: #535353;
  font-family: "Nunito Sans" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box1-text2 {
  color: #535353;
  font-family: "Nunito Sans" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box2-text2 {
  color: #535353;
  font-family: "Nunito Sans" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box3-text2 {
  color: #535353;
  font-family: "Nunito Sans" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box4-text2 {
  color: #535353;
  font-family: "Nunito Sans" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box5-text2 {
  color: #535353;
  font-family: "Nunito Sans" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box6-text2 {
  color: #535353;
  font-family: "Nunito Sans" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.end-bar1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1vw;
}

.end-bar2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1vw;
}

.end-bar3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1vw;
}

.end-bar4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1vw;
}

.end-bar5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1vw;
}

.end-bar6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1vw;
} */
