body{
    font-family: 'Average Sans';
}
.address-container{
    width:100%;
    height:100%;
    box-sizing:border-box;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 padding-right:50px;
 
   
}
#welcome-para{
    font-size: 34px;
    font-style: normal;
    font-weight: 400;

}
.address-section{
    width:100%;
    height:80vh;
    box-sizing: border-box;
    display: flex;
  padding: 30px 30px 75px 30px;
    gap: 30px;
    border-radius: 20px;
border: 0.4px solid #413E3E;
box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);
margin: auto;
overflow-y:  scroll;
}
.add-new{
    display: flex;
     width:250px;
     height:250px;
     box-sizing: border-box;
 flex-direction: column;
    align-items: center;
    justify-content: center;
   align-self: stretch;
    border-radius: 15px;
    border: 0.4px solid #66696C;
    background: #FFF;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);   
}
.add-address{
    width:250px;
    height:250px;
    display: flex;
  box-sizing: border-box;
flex-direction: column;
padding-left:10px;
align-self: stretch;
border-radius: 15px;
border: 0.4px solid #66696C;
background: #FFF;
box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
#add-address-button{
    color: #FFF;
    border-radius: 8px;
    background: #1F2123;
    border:none;
    padding: 8px 20px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
}
.cards {
    width:100%;
    display: flex;
   flex-wrap: wrap;
    gap:5px;
  
}
   
    .form{
        width:100%;
        height: auto;
        box-sizing: border-box;
        padding:10px;
        
    }
    .align-form{
        display: flex;
        width:100%;
        box-sizing: border-box;
        justify-content: space-between ;
         padding:15px;
         gap:10px;
    } 
    .input{
        width:100%;
       
    }
    .card-head{
        width:100%;
        height: auto;
        display: flex;
       padding: 15px;
        box-sizing: border-box;
        justify-content: space-between;
       
    }
    #default{
        display: flex;
        color:white;
padding: 10px 30px;
justify-content: center;
align-items: center;
gap: 10px;
border:none;
border-radius: 5px;
background: rgba(50, 74, 95, 0.70);
    }
    mat-form-field{
        width: 100%;
        display: flex;
        border: #413E3E !important;
        color:black;
    }
    #savebutton{
        display: flex;
padding: 15px 50px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #1F2123;
margin: auto;
color:#FFF;
border:none;
    }
 #display-address{
   width:auto;
   height:140px;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 15px;
    border-radius: 20px;
 }   
 #display-address::-webkit-scrollbar {
    width: 3px;
  }
  #display-address::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }
  .address-section::-webkit-scrollbar {
    width: 3px;
  }
  .address-section::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }
  #form-title{
    width:100%;
    margin:auto;
    display: flex;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400; 
  }
  #editform-title{
    margin:auto;
    display: flex;
    padding: 15px 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }

//   media query

  @media (max-width:768px) {
    body{
        
font-family: 'Average Sans';
font-size: 14px;
    }
    .address-section{
    width:100%;
padding:0%;}
.cards{
gap:0;
}
.add-address{
    width:100%;
}
.add-new{
    width:100%;
    border:none;
    height:100px;
    padding: 0%;
    margin:0;
    display: flex;
    flex-direction: row;
    gap:0px;
    box-shadow: none;
    
}
.address-container{
  padding:0%;

}
.address-section{
    height:auto;
    gap:25px;
   padding:15px;
   display: flex;
   flex-direction: column;
}

.align-form{
    display: flex;
    flex-direction: column;
}
#form-title{
    padding: 0%;
    width:100%;
    box-sizing: border-box;
}
#editform-title{
    width:100%;
    box-sizing: border-box;
    padding: 2%;
    font-size: 18px;
}
#welcome-para{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
#add-address-button{
    font-size: 12px;
}

  }