<html>

<body>
    <div class="main-container">
        <div class="login-item">
            <p id="login">REGISTER FORM</p>

            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Ex. Duvet">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex. Duvet">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Ex. Duvet">
            </mat-form-field>


            <button>Register</button>
            <div class="pattern-container">
                <div class="line"></div>
                <div class="text">or</div>
                <div class="line"></div>
            </div>
            <div class="google">
                <img src="../../assets/google.svg">
                <p>Continue with google</p>
            </div>
            <p id="end-para">Already have an account? <span style="font-weight: 700;  cursor: pointer;">Login </span>
            </p>
        </div>


    </div>
</body>

</html>