<html>
    <body>
      <app-headerandfooter>
        <div class="container">
             <div class="inner-container">
                  <div class="content">
                       <h3>CONTACT US</h3>
                       <div id="contact-details"> 
                       <p>You can chat with us on our <span style="text-decoration: underline;cursor: pointer;">Instagram page</span>  by direct messaging us between 10:30 am - 6:30 pm (Mon - Sat)</p>
                       <p>Call us: <span style="text-decoration: underline;cursor: pointer;">+91 63644 30800</span> between 10:30 am - 6:30 pm (Mon - Sat)</p>
                       <p>E-mail ID:  <span style="text-decoration: underline;cursor: pointer;">support@kickstarters.co.in</span> </p>
                    </div>
                  </div>
             </div>
        </div>
      </app-headerandfooter>
    </body>
</html>