<html>

<body>
    <div class="order-container">
        <p id="welcome-para">Welcome back!</p>
        <div class="order-section">
            <div class="suborder-section">
                 <div class="order-head">
                    <div id="first-head">
                        <p>Order placed <span>Total</span></p>
                        <p>ORDER ID #2314-8097-39</p>
                    </div>
                    <div id="second-head">
                        <p>10-10-2023 <span>£ 60</span></p>
                        <p><button id="vieworder-button">View Order Details</button></p>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</body>
</html>