body{
    font-family: 'Average Sans';
}
.address-container{
    width:1100px;
    height:80vh;
    box-sizing:border-box;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:50px;
    padding-right:50px;
}
#welcome-para{
    font-size: 34px;
    font-style: normal;
    font-weight: 400;

}
.address-section{
    width:945px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    padding: 30px 30px 75px 30px;
    gap: 30px;
    border-radius: 20px;
border: 0.4px solid #413E3E;
box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);
margin: auto;
}
.add-address{
    width:250px;
    height:250px;
    display: flex;
   
justify-content: center;
flex-direction: column;
align-items: center;
gap: 12px;
flex: 1 0 0;
align-self: stretch;
border-radius: 15px;
border: 0.4px solid #66696C;
background: #FFF;
box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
#add-address-button{
    color: #FFF;
    border-radius: 8px;
    background: #1F2123;
    border:none;
    padding: 8px 20px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
}
.cards {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}
    .add-address {
      flex: 0 0 calc(33.3333% - 10px); 
      margin-bottom: 10px;
    }