<html>
  <body>
    <div class="blogsection">
      <div class="blogtitle">See Our Popular Blogs</div>
      <div class="card-container">
        <div class="blogsection-cards" *ngFor="let blog of blogs">
          <div class="image">
            <img [routerLink]="['/blogdetail/',blog.id]" id="img" [src]="blog.Image" alt="Blog Image" loading="lazy" />
          </div>
          <div class="blogdateandtime">
            <span class="date">{{ blog.Date }} | </span>
            <span class="author">{{ blog.Author }}</span>
          </div>
          <div class="blog-name">
            {{ blog.Title }}
          </div>
        <button>Read more -></button>
        </div>
      </div>
    </div>
  </body>
</html>
